body {
  padding-top: 78px;
}
.all-contents {
  background-color: #444;
  color: #fff;
}
header {
  font-weight: bold;
}
.art-work img {
  width: 100%;
}
.container-full {
  width: 100%;
}
.logo-area {
  font-size: 40px;
  font-family: 'Butterfly Kids', cursive;
}
.song-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 15px;
}
