body {
  padding-top: 78px;
}
.all-contents {
  background-color: #444;
  color: #fff;
}
header {
  font-weight: bold;
}
.art-work {
  text-align: center;
}
.art-work img {
  width: 100%;
}
.art-work-wrapper {
  width: 100%;
}
.container-400 {
  max-width: 400px;
  margin: auto;
}
.logo-area {
  font-size: 40px;
  font-family: 'Butterfly Kids', cursive;
  float: left;
}
.song-title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 15px;
}
.form-group {
  float: left;
  margin-right: 16px;
  width: 60%;
}
.requestBtn {
  margin-top: 25px;
}
.judge-button {
  display: inline-block;
  list-style-type: none;
  width: 40%;
}
.judge-button btn {
  width: 50%;
}
.judge-button-box {
  -webkit-padding-start: 0;
}
#requestDiv {
  display: none;
}
#historyDiv {
  display: none;
}
.header-button-box {
  margin-top: 9px;
  float: right;
}
#request {
  margin-left: 16px;
}
