extends layout

block title
    title cabdybox

  block content
    script(src="/socket.io/socket.io.js")
    script(src="/js/djview.js")
    header.navbar-fixed-top
      .container
        .logo-area
          | CandyBox
          
    section#start-button.text-center
      btn.btn.btn-default(type="button") Start the party
    
    section#communicate-box
      .container
        #content(style='height:150px; border: solid 1px #999; overflow-y: scroll;')
    
