extends layout



block title
    title cabdybox

  block content
    script(src="/socket.io/socket.io.js")
    script(src="/js/sample.js")
    header.navbar-fixed-top
      .container
        .logo-area
          | CandyBox

    section.art-work
      .art-work-wrapper
        .text-center.container-400
          img(src="/images/nowplaying.jpg")
    
    section.song-data
      .container.text-center
        .song-title
          p.song Song title will be here
        .artist-name
          p.artist Artist's name will be here
          
    section
      .container
        .btn-box.text-center
          .row
            ul.judge-button-box
              li.like-button.judge-button
                btn#likeButton.btn.btn-primary(type="button" data-judge="1") like
              li.dislike-button.judge-button
                btn#disButton.btn.btn-danger(type="button" data-judge="1") dislike
              
    section.request-message
      .container
        form
          .form-group
            label(for="requestForm") Your Request Song 
            input.form-control(type="text" id="requestForm" placeholder="Song / Artist")
          
          button.btn.btn-default#request.requestBtn(value="send") Request
