.all-contents
  background-color #444444
  color white
  font-weight bold

.logo-area
  margin 16px 0
  font-size 40px
  font-family 'Butterfly Kids', cursive;

.song-title
  margin-top 32px
  font-weight bold
  font-size 15px
